.hero {
    position: relative;
    min-height: calc(100vh - 100px);
    padding-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .text {
        margin-top: -13vh;
        // border: 1px solid red;
        .hello {
            width: 20vw;
            path{
                // stroke-dasharray: 90;
                // stroke-dashoffset: 90;
                stroke-width: 2;
                transition: fill .3s ease;
            }
        }
        h1 {
            margin: 0;
            font-weight: 800;
            font-family: $gilroyBold;
            font-size: 8.6vw;
            line-height: 12vw;
            margin-left: -10px;
        }
        .socials {
            list-style-type: none;
            display: flex;
            padding: 0;
            li {
                margin-right: 13px;
            }
        }
    }
    .image {
        height: calc(100vh - 100px);
        position: relative;
        align-self: flex-end;
        img {
            height: 100%;
            position: relative;
            pointer-events: none;
        }
        .gradient {
            position: absolute;
            pointer-events: none;
            &.pink {
                background: rgb(216, 0, 80);
                background: radial-gradient(circle, rgba(216, 0, 80, 1) 0%, rgba(216, 0, 81, 0) 70%);
                width: 500px;
                height: 500px;
                right: 0;
                top: 0;
                background-repeat: no-repeat;
                background-position-x: 200px;
                animation: gradientAnim 3s ease alternate-reverse infinite;
            }
            &.blue {
                background: rgb(1, 30, 220);
                background: radial-gradient(circle, rgba(1, 30, 220, 1) 0%, rgba(1, 30, 220, 0) 62%);
                background-repeat: no-repeat;
                width: 450px;
                height: 450px;
                right: 0;
                top: 30%;
                opacity: 0.7;
                animation: gradientAnim 5s alternate-reverse infinite;
            }
        }
    }
    @media screen and (max-width: $lgBreakpoint) {
        // border: 1px solid red;
        .text{
            .hello{
                width: 23vw;
            }
            h1{
                font-size: 9.5vw;
            }
        }
        .image{
            height: auto;
            width: 45%;
            img{
                width: 100%;
                height: auto;
            }
            .gradient{
                &.blue{
                    left: auto;
                    right: 0;
                }
            }
        }
    }
    @media screen and (max-width: $xsBreakpoint) {

        .text{
            align-self: flex-start;
            margin-top: 20vw;
            position: relative;
            z-index: 9;
            .hello{
                width: 40vw;
                path{
                    stroke-width: 2px;
                }
            }
            h1{
                margin-left: 0;
                font-size: 14vw;
                margin-bottom: 90px;
            }
            .socials{
                li{
                    margin-right: 20px;
                }
            }
        }
        .image{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 60vw;
        }
    }
}
body > .gradient-blue-1 {
    position: absolute;
    width: 800px;
    max-width: 95vw;
    height: 800px;
    max-height: 95vw;
    left: 0;
    top: calc(100vh - 400px);
    background: rgb(1, 30, 220);
    background: radial-gradient(circle, rgba(1, 30, 220, 1) 0%, rgba(1, 30, 220, 0) 62%);
    background-repeat: no-repeat;
    background-position-x: -450px;
    pointer-events: none;
}
@keyframes gradientAnim {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
