//colors 
$mainBgColor: #090909;
$mainTextColor: white;
$pink: #FF004B;
$blue: #011EDC;
$cyan: #07FDDB;

//fonts
$joyride: 'Joyride-Regular', Arial, Helvetica, sans-serif;
$gilroyLight: 'Gilroy-light', Arial, Helvetica, sans-serif;
$gilroyBold: 'Gilroy-bold', Arial, Helvetica, sans-serif;

$navHeight: 50px;

//breakpoints
$lgBreakpoint: 1200px;
$mdBreakpoint: 1024px;
$smBreakpoint: 768px;
$xsBreakpoint: 480px;